html,
body {
	/*background: url("https://download.trstone.com/productsupport/styles/bg.jpg") repeat #e3e6e5;*/
	/*background: url("http://research.microsoft.com/en-us/um/india/projects/biocoder/images/background.jpg") repeat #e3e6e5;*/
	background: url("bluewaves_background.jpg");
	/*background: FFFFFF;*/
	margin-left: 5px;
	padding:0px;
	height:100%;
	}
h1,h2,h3,h4,p{
	margin-left: 10px;
	}
#wrapper {
	min-height:100%;
	position:relative;
	}
#header {
	background:#ededed;
	padding:1px;
	}
#subheader {
	/*background:#E8B57A;*/
	padding:1px;
	}
#content {
	padding-bottom:100px; /* Height of the footer element */
	background:#D1E5FA;
	}
#footer {
	background:#ededed;
	padding-top: 10px;
	/*background:#ffab62;*/
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	}
#IE11footer {
	/*background:#ffab62;*/
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	}
#url {
	width:460px;
	margin-left: 10px;
	}

#api_key{
	width:275px;
	margin-left: 10px;
	}

#submit{
	margin-left: 10px;
	}